@model IEnumerable<Trividi_Booking.Models.Account>
@{
    ViewData["Title"] = "Account Mangement";
}
@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/dashboard.css" />
}

<div class="menu">
    <ul class="menu__bar">
        <a class="menu__item" asp-action="HotelManagement" asp-controller="Admin">
            <li>Hotel Management</li>
        </a>
        <a class="menu__item selected" href="#">
            <li>Account Management</li>
        </a>
        <a class="menu__item" asp-action="Statistics" asp-controller="Admin">
            <li>statistic</li>
        </a>
    </ul>
</div>

<div class="content">
    <div class="nav">
        <a asp-action="CreateAccount" asp-controller="Admin" class="btn show-choose-account"><i class="add-icon fa-solid fa-circle-plus"></i>Add Hotel</a>
    </div>

    <table id="example" class="display" style="">
    <thead>
        <tr>
            <th class="align-center">Full Name</th>
            <th class="align-center">Email</th>
            <th class="align-center">Phone</th>
            <th class="align-center">User Name</th>
            <th class="align-center">Role</th>
            <th class="align-center">Hotel Manage</th>
            <th class="align-center">Status</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="align-center">@item.FullName</td>
            <td class="align-center">@item.Email</td>
            <td class="align-center">@item.Phone</td>
            <td class="align-center">@item.Username</td>
            <td class="align-center">
                @{
                    if(@item.RoleId == 1) {
                        <div class="role role-1">User
                            <div class="set-role">
                                <a href="" class="option"><p class="op-1">User</p></a>
                                <a asp-action="UpdateRole" asp-controller="Admin" asp-route-id=@item.Uid asp-route-role=2 class="option"><p class="op-2">Staff</p></a>
                                <a asp-action="UpdateRole" asp-controller="Admin" asp-route-id=@item.Uid asp-route-role=3 class="option"><p class="op-3">Admin</p></a>
                            </div>
                         </div>
                    } else if (@item.RoleId == 2) {
                        <div class="role role-2">Staff
                            <div class="set-role">
                                <a asp-action="UpdateRole" asp-controller="Admin" asp-route-id=@item.Uid asp-route-role=1 class="option"><p class="op-1">User</p></a>
                                <a href="" class="option"><p class="op-2">Staff</p></a>
                                <a asp-action="UpdateRole" asp-controller="Admin" asp-route-id=@item.Uid asp-route-role=3 class="option"><p class="op-3">Admin</p></a>
                            </div>
                        </div>
                    } else if (@item.RoleId == 3) {
                        <div class="role role-3">Admin
                            <div class="set-role">
                                <a asp-action="UpdateRole" asp-controller="Admin" asp-route-id=@item.Uid asp-route-role=1 class="option"><p class="op-1">User</p></a>
                                <a asp-action="UpdateRole" asp-controller="Admin" asp-route-id=@item.Uid asp-route-role=2 class="option"><p class="op-2">Staff</p></a>
                                <a href="" class="option"><p class="op-3">Admin</p></a>
                            </div>
                        </div>
                    }
                }
                
            </td>
            <td class="align-center">
                @{
                    if(@item.RoleId !=2 ) {
                        Output.Write("No");
                    } else if(@item.RoleId == 2 && @item.IdHotel==null){
                        <button onclick="getUID(this)" id=@item.Uid class="add-btn show-choose-account">Add Hotel</button>
                    } else {
                        foreach(var h in ViewBag.ListH){
                            if(@item.IdHotel == h.IdHotel){
                                Output.Write(h.Name);
                                break;
                            }
                        }
                    }

                }
            </td>
            <td class="align-center">
                @{
                    if (item.Status == true) 
                    {
                        <a asp-action="ActivateAccount" asp-controller="Admin" asp-route-id=@item.Uid class="badge badge-active" title="Change status">Active</a>
                    } else {
                        <a asp-action="ActivateAccount" asp-controller="Admin" asp-route-id=@item.Uid class="badge badge-inactive" title="Change status">Inactive</a>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
</div>

<div class="noti close-btn">
    <div class="noti-container" style="margin-bottom: 120px; width: 425px;">
        <div class="noti-heading">
            <h3 class="heading">Choose Hotel For Staff</h3>
            <div class="close-btn"><i class="fas fa-times"></i></div>
        </div>
        <form asp-action="AddHotelforStaff" asp-controller="Admin" class="noti-body align-center" method="post">
            <input type="hidden" name="staffid" id="UID">
            <div class="row">
                <select name="idhotel" class="select" required>
                    <option value="" selected >[Select Hotel]</option>
                    @foreach (var item in @ViewBag.ListHforStaff)
                    {
                        <option value="@item.IdHotel">@item.Name</option>
                    }
                </select>
            </div>
            <input type="submit" class="btn close-btn" value="Finish">
        </form>
    </div>
</div>

@if(@ViewBag.Show != null ){
    <div class="notify close-btn open">
    <div class="noti-container">
        <div class="noti-heading">
            <h3 class="heading">New Account</h3>
            <div class="close-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="noti-body">
            <span class="message mt-12"> New account has been created: </span>
            <p><span class="label mt-12">Username:</span>@ViewBag.Username</p>
            <p><span class="label">Password: </span>@ViewBag.Password</p>
        </div>
    </div>
</div>
}
<script>
    function getUID(btn) {
        let uid = btn.id
        document.getElementById("UID").value = uid;
    }
    const closeBtns = document.querySelectorAll('.close-btn');
    const noti = document.querySelector('.noti');
    const notify = document.querySelector('.notify')
    const noti_containers = document.querySelectorAll('.noti-container');
    const choose_accounts = document.querySelectorAll('.show-choose-account');

    for(const choose of choose_accounts) {
        choose.addEventListener('click', function () {
            noti.classList.toggle('open')
        })
    }
    for (const closeBtn of closeBtns) {
        closeBtn.addEventListener('click', function () {
            noti.classList.remove('open')
            notify.classList.remove('open')
        })
    }

    for (const noti_container of noti_containers) {
        noti_container.addEventListener('click', function (event) {
            event.stopPropagation()
        })
    }
</script>

@section Scripts {
    
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}