@model Trividi_Booking.Models.HotelDetail
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Booking Page";
}

<!-- book section starts -->
<section class="book mt-body" id="book">
    <h1 class="heading">
        <span>b</span>
        <span>o</span>
        <span>o</span>
        <span>k</span>
        <span class="space"></span>
        <span>n</span>
        <span>o</span>
        <span>w</span>
    </h1>

    <div class="row">
        <div class="img">
            <img src="~/images/travel-img.svg" alt="">
        </div>

        <form asp-action="Book" asp-controller="Booking" method="post">
            @if (HttpContextAccessor.HttpContext.Session.GetString("name") == null)
            {
                <div class="form-row">
                    <div class="inputBox">
                        <h3>Name</h3>
                        <input type="text" placeholder="Full name" name="name" required>
                    </div>
                    <div class="inputBox">
                        <h3>Phone</h3>
                        <input type="tel" placeholder="Phone number" name="phone" required>
                    </div>
                </div>
            }

            <div class="form-row">
                <div class="inputBox">
                    <h3>Room Type</h3>
                    <select name="roomtype" id="room" required>
                        @foreach (var item in ViewBag.RoomDetails)
                        {
                            <option value="@item.IdRoomDetails">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="inputBox">
                    <h3>How many</h3>
                    <input type="number" min="1" placeholder="Number of rooms" name="numofroom" required>
                </div>
            </div>

            <div class="form-row">
                <div class="inputBox">
                    <h3>Arrivals</h3>
                    <input type="date" required name="dateS">
                </div>
                <div class="inputBox">
                    <h3>Leaving</h3>
                    <input type="date" required name="dateE">
                </div>
            </div>

            @if (ViewBag.error != null)
            {
                <div class="field-text-error">
                    <p>@ViewBag.error</p>
                </div>
            }
            <input type="hidden" hidden name="idhotel" value="@Model.ID">


            <input type="submit" class="btn" value="book now">
        </form>
    </div>
</section>
<!-- book section ends -->
<!-- Hotel detail section starts -->
<section class="hot-hotel " id="hot-hotel">
    <h1 class="heading">
        <span>H</span>
        <span>o</span>
        <span>t</span>
        <span>e</span>
        <span>l</span>
        <span class="space"></span>
        <span>D</span>
        <span>e</span>
        <span>t</span>
        <span>a</span>
        <span>i</span>
        <span>l</span>
        <span>s</span>
    </h1>

    <div class="row">
        <div class="img">
            <img src="~/@Model.Image" alt="@Model.Name">
        </div>

        <div class="hot-hotel-content">
            <div class="hotel-info">
                <h2>@Model.Name</h2>

                <div class="stars">
                    @for (var i = 0; i < Model.NumberOfStars; i++)
                    {
                        <i class="fas fa-star"></i>
                    }
                </div>

                <h3 class="hotel-desc">@Model.Description</h3>
                <h3>
                    <i class="fa-solid fa-phone"></i>
                    Phone: <a href="tel:+@Model.Phone"><span>@Model.Phone</span></a>
                </h3>
                <h3>
                    <i class="fa-sharp fa-solid fa-location-dot"></i>
                    Address: <span>@Model.Address</span>
                </h3>

                <a href="#book" class="btn"> Book now</a>
            </div>
        </div>
    </div>
</section>


<!-- Hotel detail section ends -->
<!-- Room section start -->
<section class="review" id="review">
    <h1 class="heading">
        <span>O</span>
        <span>u</span>
        <span>r</span>
        <span class="space"></span>
        <span>R</span>
        <span>o</span>
        <span>o</span>
        <span>m</span>
        <span>s</span>
    </h1>

    <div class="swiper mySwiper review-slider">
        <div class="swiper-wrapper wrapper">
            @foreach (var r in ViewBag.RoomDetails)
            {
                <div class="swiper-slide magrin-slide">
                    <div class="box">
                        <img src="/@r.Image" alt="room image">
                        <h3>@r.Name</h3>
                        <p>@r.Description</p>
                        <div class="price">
                            @{
                                double _dis = (double)(100 - @r.Discount) / 100;
                                var _total = (Int32)(@r.Cost / 24000 * _dis);
                                Output.Write(_total);
                            } $ <span class="dis">
                                @{
                                    var _cost = @r.Cost / 24000; Output.Write(_cost);
                                } $</span><span class="text"> <br> Per Night </span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- Room section ends -->
@section Scripts {
<script src="~/js/script.js"></script>
<script src="~/js/slider.js"></script>
}
